 <label>Server Name</label>
 <input
   type="text"
   class="form-control"
   [(ngModel)]="serverName">
  <button class="btn-primary" [disabled]="!allowNewServer"
  (click)="onCreateServer()">Add Server</button>
  <!--<p [innerText]="allowNewServer"></p>-->
  <!--{{serverCreationStatus}}-->
 <p *ngIf="serverCreated; else noServer">Server was created, The Server Name is : {{serverName}}</p>
 <ng-template #noServer>
    <p>No Server was created!</p>
 </ng-template>
  <app-server></app-server>
  <app-server></app-server>
